<footer>
    <div class="container">
    <div class="footerInner">
        © Magicbricks
        <div class="mbLink">
            <a href="https://m.magicbricks.com/mbs/Sitemap.html">Sitemap<span></span></a>
            <a href="https://m.magicbricks.com/mbs/about.html">About Us</a>
            <a href="https://property.magicbricks.com/terms/terms.html">Terms &amp; Conditions<span></span></a>
            <a href="https://m.magicbricks.com/mbs/privacy.html">Privacy</a>
        </div>
    </div>
</div>
</footer>